<div class="content" role="main">

    <!-- Highlight Card -->
    <h2>404 - Page not found</h2>
    <div style="text-align: center; align-items: center; display: flex;">
      <img src="../../assets/images/ostrich-404.png" style="width: 150px; height: 150px"/>
      <span>This Page is Buried in the Sand
        You have never seen an ostrich head. Whenever you’re around it seems ostriches are avoiding your gaze. You came on this trip specifically to see an ostrich head, but here is this ostrich right in front of you, head invisible. You may never see an ostrich head.</span>
    </div>

    <a [routerLink]="['/products']">Back to products</a>
  
  </div>